{% extends 'base.html' %}
{% load static %}
{% block body %}
  

  
    <h1 class="text-center m-3">View Developers Profiles</h1>
    <div class="container">
        <div class="row mb-3">
            <div class="col-3">
                <a href="{% url 'profile' %}" style="text-decoration: none;" title="View Profile">
                    <div class="card" style="width: 18rem;">
                      <img src="{% static 'images/img1.png' %}" alt="">
                        <div class="card-body">
                        <h5 class="card-title text-center">John Doe</h5>
                          <p class="card-text text-center">Python Full Stack Developer </p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#" style="text-decoration: none;" title="View Profile">
                    <div class="card" style="width: 18rem;">
                      <img src="{% static 'images/img1.png' %}" alt="">
                        <div class="card-body">
                        <h5 class="card-title text-center">John Doe</h5>
                          <p class="card-text text-center">Python Full Stack Developer </p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#" style="text-decoration: none;" title="View Profile">
                    <div class="card" style="width: 18rem;">
                      <img src="{% static 'images/img1.png' %}" alt="">
                        <div class="card-body">
                        <h5 class="card-title text-center">John Doe</h5>
                          <p class="card-text text-center">Python Full Stack Developer </p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#" style="text-decoration: none;" title="View Profile">
                    <div class="card" style="width: 18rem;">
                      <img src="{% static 'images/img1.png' %}" alt="">
                        <div class="card-body">
                        <h5 class="card-title text-center">John Doe</h5>
                          <p class="card-text text-center">Python Full Stack Developer </p>
                        </div>
                      </div>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <a href="#" style="text-decoration: none;" title="View Profile">
                    <div class="card" style="width: 18rem;">
                      <img src="{% static 'images/img1.png' %}" alt="">
                        <div class="card-body">
                        <h5 class="card-title text-center">John Doe</h5>
                          <p class="card-text text-center">Python Full Stack Developer </p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#" style="text-decoration: none;" title="View Profile">
                    <div class="card" style="width: 18rem;">
                      <img src="{% static 'images/img1.png' %}" alt="">
                        <div class="card-body">
                        <h5 class="card-title text-center">John Doe</h5>
                          <p class="card-text text-center">Python Full Stack Developer </p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#" style="text-decoration: none;" title="View Profile">
                    <div class="card" style="width: 18rem;">
                      <img src="{% static 'images/img1.png' %}" alt="">
                        <div class="card-body">
                        <h5 class="card-title text-center">John Doe</h5>
                          <p class="card-text text-center">Python Full Stack Developer </p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#" style="text-decoration: none;" title="View Profile">
                    <div class="card" style="width: 18rem;">
                      <img src="{% static 'images/img1.png' %}" alt="">
                        <div class="card-body">
                        <h5 class="card-title text-center">John Doe</h5>
                          <p class="card-text text-center">Python Full Stack Developer </p>
                        </div>
                      </div>
                </a>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </div>
    {% endblock body %}